<h1 class="text-center my-5">Welcome to the ToDoList Page</h1>
<div class="text-center">
  <img src="../../assets/todolistimage.webp" alt="ToDoList Image" />
</div>
<div class="text-center d-flex justify-content-center flex-column align-items-center">
  <div class="mx-5 my-4">
    <span class="mx-3">New to the adventure?</span><button class="btn btn-primary" routerLink="register">Register</button>
  </div>
  <div class="mx-5 my-4">
    <span class="mx-3">Already a User?</span><button class="btn btn-primary" routerLink="login">Login</button>
  </div>
</div>
